a.tag1{
	font-size: 0.5 em;
	text-decoration:none;
}


a.tag2{
	font-size: 1em;
	text-decoration:none;
	}
a.tag3{
	font-size: 1.25em;
	text-decoration:none;
	}
a.tag4{
	font-size: 1.5em;
	text-decoration:none;
}
a.tag5{
	font-size: 1.75em;
	text-decoration:none;
	}
a.tag6{
	font-size: 2em;
	text-decoration:none;
	}
a.tag7{
	font-size: 3em;
	text-decoration:none;
	}
	
a.tag1:hover{text-decoration:underline;}
a.tag2:hover{text-decoration:underline;}
a.tag3:hover{text-decoration:underline;}
a.tag4:hover{text-decoration:underline;}
a.tag5:hover{text-decoration:underline;}
a.tag6:hover{text-decoration:underline;}
a.tag7:hover{text-decoration:underline;}
	
* { padding:0; margin:0; outline: 0;}

html, body {
height:100%;
width:100%;
font-family: Verdana, arial, sans-serif;
font-size: 1em;
outline: 0;
}

@CHARSET "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	padding:0;
	margin:0;
}

body{
	font-family:Arial,Helvetica,sans-serif;
	font-size:75%;
	line-height:1.4;
	/**background:#E3F1FE url(http://1.images.mnstatic.com/sprites/sp_bgext_mnes.png) repeat-x scroll left -638px;*/
}

a.inverse{text-decoration:none;}
a.inverse:hover{text-decoration:underline;}

#superior {
	padding:.75em;
	margin-bottom:100px;
}

#contenedor { 
	min-height:100%;
	height: auto!important;
	height:100%;
}

#cabecera {
	/*height: 60px;
	font-size:1.5em;
	text-align: left;
	margin:10px 0 0;*/
	background-color: #399;
	color:white;
}

h1.cabecera {
	color:white;
}

h2.cabecera{
	font-size:0.75em;
	color: #fff;
}

img.cabecera{
	padding:0;
	text-align:left;
	float:left;
	margin-left:2px;
	margin-right:2px;	
}

#postcabecera {
	height: 1.75em;
	margin:5px 0 0;
	text-align: left;
}

.menu-header {
	padding-top:12px;
	margin-top:9px;
	float:left
}


#contenido {
	padding: 1em;
}

div.cuerpo {
	display:block;
	width:980px;
	margin:0 auto;
}


a.refresh_wms {
	background-image:url("../images/refresh.png");
	
	z-index:1000;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:top left;
	cursor:pointer;
	
	display:inline-block;
	width:24px;
	height:24px;
	
	position:relative;
	top:15px;
	left:-10px;
	/*
	
	position:relative;
	top: 0px;
	left:550px;
	
	
	*/
}



a.maximizar_mapa {
	background-image:url("../images/btn_maximizar_mapa.png");
	
	z-index:1000;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:top left;
	cursor:pointer;
	
	display:inline-block;
	width:34px;
	height:20px;
	
	position:relative;
	left:25px;
	/*
	
	position:relative;
	top: 0px;
	left:550px;
	
	
	*/
}

a.minimizar_mapa {
	background-image:url("../images/btn_minimizar_mapa.png");
	
	z-index:1000;
	
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:top left;
	
	display:inline-block;
	width:34px;
	height:20px;
	/*
	display:inline-block;
	position:relative;
	top:22px;
	left:540px;
	width:34px;
	height:20px;
	*/
	cursor:pointer;
}

a.maximizar_mapa:hover, a.minimizar_mapa:hover{background-position:bottom left;}


#map_social{
	margin: p5px 5px 5px 5px;
}

#mapea{ 
	background-color: transparent; 
	margin-left: 320px;
	margin-bottom:25px;
	top: 125px; 
	visibility: visible
	width: 512px;
	height: 320px;        
}


#map-container {
    width: 575px;
    height: 395px;
    border: 1px solid #ccc;
   /* visible:true;*/
}


#map {
    width: 512px;
    height: 320px;
    top: 5px;
    left: 5px;
    border: 1px solid darkblue;
}



a.map-label {
	color:#3E6D8E;
	background-color:#E0EAF1;
	border-bottom:1px solid #3E6D8E;
	border-right:1px solid #7F9FB6;
	padding:3px 4px 3px 4px;
	margin:2px 2px 2px 0;
	text-decoration:none;
	font-size:90%;
	line-height:2.4;
	white-space:nowrap;
}

a.map-label:hover{
	background-color:#3E6D8E;
	color:#E0EAF1;
	border-bottom:1px solid #37607D;
	border-right:1px solid #37607D;
	text-decoration:none;
}

.antepie {
	width: 100%;
	font-family: Arial,Helvetica,sans-serif;
	clear: both;
	/*background: #749F00  left top;*/
	background: #FFFFFF left top;
	/*margin: 10px 0 0;*/
	float: left;
}


#pie {
	width: 100%;
	height: 25px;
	font-size:0.75em;
	background-color: #399;
	color: #fff;
	text-align: center;
	position: fixed;
    bottom: 0;
}


#footer{
	height:10%;
	background-attachment: scroll;
    background-color: #F4F4F4;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-top-color: #E4E4E4;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 20px;
    7-moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
}

div#footie  {
	
	position:relative;
	bottom:0px;
	left:0;
	right:0;
	width:100%;
	
    background: #f4f4f4;
    border-top: 1px solid #e4e4e4;
    
    clear:both;
    /*
    margin-top: -25%;
    */
    height: 30%;
    
    /*
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -170px;
    clear:both;
    */
}
div#footie div.footer-container {
    width: 980px;
    text-align: left;
    margin: 0 auto;
    padding: 20px 0;
}

.fixed_banner  {
    background-color: #E47911;
    bottom: 0;
    font-size: 22px;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index:1000;
}


#search-result-message{
	background-color: white;
	color: black;
	text-align: left;
	padding:2px 2px 2px 2px;     
}

#search-results{
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}


#search-box { 
	background-color: #ddd;
	float:left ;  
	padding: 15px;
	margin: 5px;
	z-index:1
}

.search_destination{
	float:left;
	margin:1.5em 0 0;
	clear:both;
	/*width:568px;*/
}
.search_destination label{
	color:#333;
	display:block;
	font-size:2.1em;
	font-weight:bold;
	margin:0 0 3px;
}
.search_destination input.field{
	color:#333;
	font-size:18px;
	height:30px;
	padding:5px;
	width:285px;
	margin:0 10px 0 0;
	float:left;
}

.auto_border_jstwo{
	border:1px solid #8EACC4;
}

.search_destination input.btn {
	float: left;
}

.search_button {
	background: transparent url(../images/sp_h_mnes.png) no-repeat 0 -61px;
	width: 116px;
	height: 32px;
	font-size: 16px;
	font-weight: bold;
}

#introduction { 
	background-color: #ddd;
	float:left ;  
	padding: 15px;
	margin: 5px;
	z-index:1
}

/*
another type of buttons
*/
input.button {
	float: left;
	border: 0;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
/* 	-webkit-box-shadow: 0 1px 3px #999; */
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
/* 	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

 /* Sizes ---------- */
.small.button {
    font-size: 11px;
}
.medium.button {
    font-size: 13px;
}
.large.button {
    font-size: 14px;
    padding: 10px 14px 9px;
}

button.large.button {
    font-size: 14px;
    padding: 7px 7px 7px 10px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
 
/* Colors ---------- */
.disabled.button {
    background-color: #999;
}

.green.button {
    background-color: #45b434;
}

.blue.button {
    background-color: #2daebf;
}
.red.button {
    background-color: #e33100;
}
.magenta.button {
    background-color: #a9014b;
}
.orange.button {
    background-color: #ff5c00;
}
.yellow.button {
    background-color: #ffb515;
}

