#column-content{width:100%;float:right;margin:0 0 .6em -3.2em;padding:0;}
#content{margin:0.99em 0 0 0.49em;padding:0 1em 1.5em 1em;position:relative;z-index:2;}
#column-one{padding-top:160px;}
#content{background:white;color:black;border:1px solid #aaa;border-right:none;line-height:1.5em;}
body{font:x-small sans-serif;background:#f9f9f9 0 0 no-repeat;color:black;margin:0;padding:0;}
#globalWrapper{font-size:127%;width:100%;margin:0;padding:0;}
.visualClear{clear:both;}
.greenstyle{color:green;margin:10;}
table{font-size:100%;color:black;background-color:white;}
a{text-decoration:none;color:#002bb8;background:none;}
a:visited{color:#5a3696;}
a:active{color:#faa700;}
a:hover{text-decoration:underline;}
a.stub{color:#772233;}
a.new, #p-personal a.new{color:#ba0000;}
a.new:visited, #p-personal a.new:visited{color:#a55858;}
img{border:none;vertical-align:middle;}
p{margin:.4em 0 .5em 0;line-height:1.5em;}
p img{margin:0;}
hr{height:1px;color:#aaa;background-color:#aaa;border:0;margin:.2em 0 .2em 0;}
h1, h2, h3, h4, h5, h6{color:black;background:none;font-weight:normal;margin:0;padding-top:.5em;padding-bottom:.17em;border-bottom:1px solid #aaa;}
h1{font-size:188%;}
h1 .editsection{font-size:53%;}
h2{font-size:150%;}
h2 .editsection{font-size:67%;}
h3, h4, h5, h6{border-bottom:none;font-weight:bold;}
h3{font-size:132%;}
h3 .editsection{font-size:76%;font-weight:normal;}
h4{font-size:116%;}
h4 .editsection{font-size:86%;font-weight:normal;}
h5{font-size:100%;}
h5 .editsection{font-weight:normal;}
h6{font-size:80%;}
h6 .editsection{font-size:125%;font-weight:normal;}
.editsection{float:right;margin-left:5px;}
ul{line-height:1.5em;list-style-type:square;margin:.3em 0 0 1.5em;padding:0;}
ol{line-height:1.5em;margin:.3em 0 0 3.2em;padding:0;list-style-image:none;}
li{margin-bottom:.1em;}
dt{font-weight:bold;margin-bottom:.1em;}
dl{margin-top:.2em;margin-bottom:.5em;}
dd{line-height:1.5em;margin-left:2em;margin-bottom:.1em;}
fieldset{border:1px solid #2f6fab;margin:1em 0 1em 0;padding:0 1em 1em;line-height:1.5em;}
legend{padding:.5em;font-size:95%;}
form{border:none;margin:0;}
#comentario textarea{display:block;width:40%;border:2px solid;margin:0 0 10px 0;}
#comentario input{display:block;border:2px solid;}
input.historysubmit{padding:0 .3em .3em .3em !important;font-size:94%;cursor:pointer;height:1.7em !important;margin-left:1.6em;}
select{vertical-align:top;}
abbr, acronym, .explain{border-bottom:1px dotted black;color:black;background:none;cursor:help;}
q{font-family:Times, "Times New Roman", serif;font-style:italic;}
code{background-color:#f9f9f9;}
pre{padding:1em;border:1px dashed #2f6fab;color:black;background-color:#f9f9f9;line-height:1.1em;}
#siteSub{display:none;}
#jump-to-nav{display:none;}
#contentSub, #contentSub2{font-size:84%;line-height:1.2em;margin:0 0 1.4em 1em;color:#7d7d7d;width:auto;}
span.subpages{display:block;}
#bodyContent h1, #bodyContent h2{margin-bottom:.6em;}
#bodyContent h3, #bodyContent h4, #bodyContent h5{margin-bottom:.3em;}
.firstHeading{margin-bottom:.1em;}
.usermessage{background-color:#ffce7b;border:1px solid #ffa500;color:black;font-weight:bold;margin:2em 0 1em;padding:.5em 1em;vertical-align:middle;}
#siteNotice{text-align:center;font-size:95%;padding:0 .9em;}
#siteNotice p{margin:0;padding:0;}
.error{color:red;font-size:larger;}
#catlinks{border:1px solid #aaa;background-color:#f9f9f9;padding:5px;margin-top:1em;clear:both;}
.documentByLine{text-align:right;font-size:90%;clear:both;font-weight:normal;color:#76797c;}
.center{width:100%;text-align:center;}
*.center *{margin-left:auto;margin-right:auto;}
.small, .small *{font-size:94%;}
table.small{font-size:100%;}
#toc, .toc, .mw-warning{border:1px solid #aaa;background-color:#f9f9f9;padding:5px;font-size:95%;}
#toc h2, .toc h2{display:inline;border:none;padding:0;font-size:100%;font-weight:bold;}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle{text-align:center;}
#toc ul, .toc ul{list-style-type:none;list-style-image:none;margin-left:0;padding-left:0;text-align:left;}
#toc ul ul, .toc ul ul{margin:0 0 0 2em;}
#toc .toctoggle, .toc .toctoggle{font-size:94%;}
.mw-warning{margin-left:50px;margin-right:50px;text-align:center;}
div.floatright, table.floatright{clear:right;float:right;position:relative;margin:0 0 .5em .5em;border:0;}
div.floatright p{font-style:italic;}
div.floatleft, table.floatleft{float:left;clear:left;position:relative;margin:0 .5em .5em 0;border:0;}
div.floatleft p{font-style:italic;}
div.thumb{margin-bottom:.5em;border-style:solid;border-color:white;width:auto;}
div.thumbinner{border:1px solid #ccc;padding:3px !important;background-color:#f9f9f9;font-size:94%;text-align:center;overflow:hidden;}
html .thumbimage{border:1px solid #ccc;}
html .thumbcaption{border:none;text-align:left;line-height:1.4em;padding:3px !important;font-size:94%;}
div.magnify{float:right;border:none !important;background:none !important;}
div.magnify a, div.magnify img{display:block;border:none !important;background:none !important;}
div.tright{clear:right;float:right;border-width:.5em 0 .8em 1.4em;}
div.tleft{float:left;clear:left;margin-right:.5em;border-width:.5em 1.4em .8em 0;}
.hiddenStructure{display:none;speak:none;}
img.tex{vertical-align:middle;}
span.texhtml{font-family:serif;}
table.rimage{float:right;position:relative;margin-left:1em;margin-bottom:1em;text-align:center;}
.toccolours{border:1px solid #aaa;background-color:#f9f9f9;padding:5px;font-size:95%;}
div.townBox{position:relative;float:right;background:white;margin-left:1em;border:1px solid gray;padding:.3em;width:200px;overflow:hidden;clear:right;}
div.townBox dl{padding:0;margin:0 0 .3em;font-size:96%;}
div.townBox dl dt{background:none;margin:.4em 0 0;}
div.townBox dl dd{margin:.1em 0 0 1.1em;background-color:#f3f3f3;}
.special li{line-height:1.4em;margin:0;padding:0;}
#bodyContent a.extiw, #bodyContent a.extiw:active{color:#36b;background:none;padding:0;}
#bodyContent a.external{color:#36b;}
#bodyContent .plainlinks a{background:none !important;padding:0 !important;}
#p-logo{top:0;left:0;position:absolute;z-index:3;height:155px;width:12em;overflow:visible;}
#p-logo h5{display:none;}
#p-logo a, #p-logo a:hover{display:block;height:155px;width:12.2em;background-repeat:no-repeat;background-position:35% 50% !important;text-decoration:none;}
#footer{background-color:white;border-top:1px solid #fabd23;border-bottom:1px solid #fabd23;margin:.6em 0 1em 0;padding:.4em 0 1.2em 0;text-align:center;font-size:90%;}
#footer li{display:inline;margin:0 1.3em;}
#f-poweredbyico, #f-copyrightico{margin:0 8px;position:relative;top:-2px;}
#f-poweredbyico{float:right;height:1%;}
#f-copyrightico{float:left;height:1%;}
#preftoc{margin:0;padding:0;width:100%;clear:both;}
#preftoc li{background-color:#f0f0f0;color:#000;}
#preftoc li{margin:1px -2px 1px 2px;float:left;padding:2px 0 3px 0;border:1px solid #fff;border-right-color:#716f64;border-bottom:0;position:relative;white-space:nowrap;list-style-type:none;list-style-image:none;z-index:3;}
#preftoc li.selected{font-weight:bold;background-color:#f9f9f9;border:1px solid #aaa;border-bottom:none;cursor:default;top:1px;padding-top:2px;margin-right:-3px;}
#preftoc > li.selected{top:2px;}
#preftoc a, #preftoc a:active{display:block;color:#000;padding:0 .7em;position:relative;text-decoration:none;}
#preftoc li.selected a{cursor:default;text-decoration:none;}
#prefcontrol{padding-top:2em;clear:both;}
#preferences{margin:0;border:1px solid #aaa;clear:both;padding:1.5em;background-color:#F9F9F9;}
.mainLegend{display:none;}
div.prefsectiontip{font-size:95%;margin-top:0;background-color:#FFC1C1;padding:.2em .7em;clear:both;}
.btnSavePrefs{font-weight:bold;padding-left:.3em;padding-right:.3em;}
.preferences-login{clear:both;margin-bottom:1.5em;}
.prefcache{font-size:90%;margin-top:2em;}
* > html #p-cactions li{border:none;}
* > html #p-cactions li a{border:1px solid #aaa;border-bottom:none;}
* > html #p-cactions li.selected a{border-color:#fabd23;}
* > html #f-poweredbyico, * > html #f-copyrightico{width:88px;}
* > html #bodyContent, * > html #bodyContent pre{overflow-x:auto;width:100%;padding-bottom:25px;}
* html #footer{margin-top:0;}
* html #column-content{display:inline;margin-bottom:0;}
* html div.editsection{font-size:smaller;}
#pagehistory li.selected{position:relative;}
* > html #column-content{float:none;}
* > html #column-one{position:absolute;left:0;top:0;}
* > html #footer{margin-left:13.2em;}
.redirectText{font-size:150%;margin:5px;}
.printfooter{display:none;}
.not-patrolled{background-color:#ffa;}
div.patrollink{font-size:75%;text-align:right;}
span.newpage, span.minor, span.searchmatch, span.bot{font-weight:bold;}
span.unpatrolled{font-weight:bold;color:red;}
span.searchmatch{color:red;}
.sharedUploadNotice{font-style:italic;}
span.updatedmarker{color:black;background-color:#0f0;}
table.gallery{border:1px solid #ccc;margin:2px;padding:2px;background-color:white;}
table.gallery tr{vertical-align:top;}
table.gallery td{vertical-align:top;background-color:#f9f9f9;border:solid 2px white;}
table.gallery td.galleryheader{text-align:center;font-weight:bold;}
table.gallery caption{font-weight:bold;}
div.gallerybox{margin:2px;}
div.gallerybox div.thumb{text-align:center;border:1px solid #ccc;margin:2px;}
div.gallerytext{font-size:94%;padding:2px 4px;}
span.comment{font-style:italic;}
span.changedby{font-size:95%;}
.previewnote{text-indent:3em;color:#c00;border-bottom:1px solid #aaa;padding-bottom:1em;margin-bottom:1em;}
.previewnote p{margin:0;padding:0;}
.editExternally{border:1px solid gray;background-color:#ffffff;padding:3px;margin-top:0.5em;float:left;font-size:small;text-align:center;}
.editExternallyHelp{font-style:italic;color:gray;}
li span.deleted, span.history-deleted{text-decoration:line-through;color:#888;font-style:italic;}
.toggle{margin-left:2em;text-indent:-2em;}
ul#filetoc{text-align:center;border:1px solid #aaaaaa;background-color:#f9f9f9;padding:5px;font-size:95%;margin-bottom:0.5em;margin-left:0;margin-right:0;}
#filetoc li{display:inline;list-style-type:none;padding-right:2em;}
input#wpSummary{width:80%;}
input#wpSave, input#wpDiff{margin-right:0.33em;}
#editform .editOptions{display:inline;}
#wpSave{font-weight:bold;}
div.noarticletext{border:1px solid #ccc;background:#fff;padding:.2em 1em;color:#000;}
div#searchTargetContainer{left:10px;top:10px;width:90%;background:white;}
div#searchTarget{padding:3px;margin:5px;background:#F0F0F0;border:solid 1px blue;}
div#searchTarget ul li{list-style:none;}
div#searchTarget ul li:before{color:orange;content:"\00BB \0020";}
div.multipageimagenavbox{border:solid 1px silver;padding:4px;margin:1em;-moz-border-radius:6px;background:#f0f0f0;}
div.multipageimagenavbox div.thumb{border:none;margin-left:2em;margin-right:2em;}
div.multipageimagenavbox hr{margin:6px;}
table.multipageimage td{text-align:center;}
table#sv-ext, table#sv-hooks{margin:1em;padding:0em;}
#sv-ext td, #sv-hooks td, #sv-ext th, #sv-hooks th{border:1px solid #A0A0A0;padding:0 0.15em 0 0.15em;}
#sv-ext th, #sv-hooks th{background-color:#F0F0F0;color:black;padding:0 0.15em 0 0.15em;}
tr.sv-space{height:0.8em;border:none;}
tr.sv-space td{display:none;}
.TablePager_nav a{text-decoration:none;}
.TablePager{border-collapse:collapse;}
.TablePager, .TablePager td, .TablePager th{border:0.15em solid #777777;padding:0 0.15em 0 0.15em;}
.TablePager th{background-color:#eeeeff}
.TablePager td{background-color:#ffffff}
.TablePager tr:hover td{background-color:#eeeeff}
.imagelist td, .imagelist th{white-space:nowrap}
.imagelist .TablePager_col_links{background-color:#eeeeff}
.imagelist .TablePager_col_img_description{white-space:normal}
.imagelist th.TablePager_sort{background-color:#ccccff}
.templatesUsed{margin-top:1.5em;}
.mw-summary-preview{margin:0.1em 0;}
p.mw-ipb-conveniencelinks{font-size:90%;float:right;}
.mw-plusminus-null{color:#aaa;}
.texvc{direction:ltr;unicode-bidi:embed;}
#toolbar, #wpTextbox1{clear:both;}
.listaCosas {
	border-collapse:collapse;
	font-size:12px;
	line-height: 1.4em;
	margin:.8em 0;
}
.listaCosas td, .listaCosas th {
	border: 1px solid #959596;
	padding: 2px 3px;
}
.listaCosas td {
	background-color:#F2F2F3;
}
.listaCosas th {
	background-color:#DEDEDF;
	width:150px;
	text-align:left;
}

.listaTrabajos {
	border-collapse:collapse;
	font-size:13px;
	margin:.8em 0;
}
.listaTrabajos td {
	border:1px solid #959596;
	background:#F2F2F3;
	padding:8px;
	vertical-align:top;
	width:300px;
}
.listaTrabajos td:hover {
	background:#DEDEDF;
}
.listaTrabajos h3 {
	padding:0;
	margin:0 0 8px;
}
.listaTrabajos label {
	color:#333;
	font-weight:bold;
}
.listaTrabajos strong {
	color:green;
}
